In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

In [2]:
data = pd.read_csv('FertilizerRecommendation.csv')
data.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [3]:
soil_type_label_encoder = LabelEncoder()
data["Soil Type"] = soil_type_label_encoder.fit_transform(data["Soil Type"])
     

crop_type_label_encoder = LabelEncoder()
data["Crop Type"] = crop_type_label_encoder.fit_transform(data["Crop Type"])
     

croptype_dict = {}
for i in range(len(data["Crop Type"].unique())):
    croptype_dict[i] = crop_type_label_encoder.inverse_transform([i])[0]
print(croptype_dict)

soiltype_dict = {}
for i in range(len(data["Soil Type"].unique())):
    soiltype_dict[i] = soil_type_label_encoder.inverse_transform([i])[0]
print(soiltype_dict)

{0: 'Barley', 1: 'Cotton', 2: 'Ground Nuts', 3: 'Maize', 4: 'Millets', 5: 'Oil seeds', 6: 'Paddy', 7: 'Pulses', 8: 'Sugarcane', 9: 'Tobacco', 10: 'Wheat'}
{0: 'Black', 1: 'Clayey', 2: 'Loamy', 3: 'Red', 4: 'Sandy'}

In [4]:
fertname_label_encoder = LabelEncoder()
data["Fertilizer Name"] = fertname_label_encoder.fit_transform(data["Fertilizer Name"])
     

fertname_dict = {}
for i in range(len(data["Fertilizer Name"].unique())):
    fertname_dict[i] = fertname_label_encoder.inverse_transform([i])[0]
print(fertname_dict)

{0: '10-26-26', 1: '14-35-14', 2: '17-17-17', 3: '20-20', 4: '28-28', 5: 'DAP', 6: 'Urea'}

In [5]:
data.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6

In [6]:
X = data[data.columns[:-1]]
y = data[data.columns[-1]]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)
print(f"Train Data: {X_train.shape}, {y_train.shape}")
print(f"Test Data: {X_test.shape}, {y_test.shape}")

Train Data: (59, 8), (59,)
Test Data: (40, 8), (40,)

In [11]:
from sklearn.preprocessing import MinMaxScaler
ms1 = MinMaxScaler()
X_train = ms1.fit_transform(X_train)
X_test = ms1.transform(X_test)

In [12]:
from sklearn.preprocessing import StandardScaler    
sc1= StandardScaler()    
Xtrain= sc1.fit_transform(X_train)    
Xtest= sc1.transform(X_test)

In [13]:
rf = RandomForestClassifier(random_state = 12)
rf.fit(X_train, y_train)

# Accuray On Test Data
predictions = rf.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print(accuracy)

1.0

In [14]:
pickle.dump(sc1,open("sc1.pkl","wb"))
pickle.dump(ms1,open("ms1.pkl","wb"))
pickle.dump(rf,open("rf.pkl","wb"))

In [15]:
data = [[26,52,38,4,3,37,0,0]]
prediction = rf.predict(data)

In [16]:
if prediction[0] in fertname_dict:
    fert = fertname_dict[prediction[0]]
    print("{} is a best fertilizer to be used ".format(fert))

Urea is a best fertilizer to be used